# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Collection of patterns from SVN settings
*.bak
*.lst
*.scc
*.x12
*.map
*.lo
*.log
*.ls
*.al
.libs
*.so
*.so.[0-9]*
*.pyc
*.pyo
*.rej
*~
*.~
*#
.#*
.*.swp
.DS_Store
*.hex
*.eep